<h1>Qnas#new</h1>
<p>Find me in app/views/qnas/new.html.erb</p>

<form action="/qnas/create"> 
    <p>제목</p>
    <input type="string" name="input_title">
    
    <p>카테고리</p>
    <label for="radio-1"> <input type="radio" name="input_category" id="radio-1" value="c/c++">C/C++</label>
    <label for="radio-2"> <input type="radio" name="input_category" id="radio-2" value="python">Python</label>
    <label for="radio-3"> <input type="radio" name="input_category" id="radio-3" value="java">Java</label>
    <label for="radio-4"> <input type="radio" name="input_category" id="radio-4" value="scratch/entry">Scratch/Entry</label>
    <label for="radio-5"> <input type="radio" name="input_category" id="radio-5" value="html/css">Html/Css</label>
    <label for="radio-6"> <input type="radio" name="input_category" id="radio-6" value="etc">기타</label>
  
    <p>내용</p>
  
     <textarea name="input_content"></textarea>
    
    <p>코드 내용</p>
      <textarea name="input_code_content"></textarea>
   
    <p>이미지</p>
    <input type="string" name="input_img">    
    <p>제출</p>
    <input class="btn btn-default" type="submit">
</form>