<h1>Qnas#new</h1>
<p>Find me in app/views/qnas/new.html.erb</p>

<form action="/qnas/create"> 
    <p>제목</p>
    <input type="string" name="input_title">
    
    <p>카테고리</p>
    <input type="string" name="input_category">
    
    <p>내용</p>
    <input type="text" name="input_content">
    
    <p>코드 내용</p>
    <input type="text" name="input_code_content">
    <p>이미지</p>
    <input type="string" name="input_img">    
    <p>제출</p>
    <input class="btn btn-default" type="submit">
</form>