  
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-12 pl-0 pr-0">
            <div class="col-6 depth_0 pl-0 pr-0">
                <div class="px-0 mx-0"><%= image_tag("career_img.png", :class=>"off_top_hk", :onclick=>"fnMove('1')") %></div>
            </div>
            <div class="col-6 depth_0 pl-0 pr-0">
                <div class="px-0 mx-0"><%= image_tag("coding_img.png",  :class=>"off_top_hk", :onclick=>"fnMove('2')") %></div>  
            </div>
        </div>    
    </div>
    
</div>
