
<h1>Offlines#career</h1>
<div class="career_top">
    <p>진로특강</p>
</div>
<div class="career_intro">
    상세설명
</div>
<div class="career_apply">
    <%= link_to '신청하기', offlines_career_new_path%>
</div>