<h1>Offlines#coding</h1>
<div class="coding_top">
    <p>코딩특강</p>
</div>
<div class="coding_intro">
    상세설명
</div>
<div class="coding_apply">
    <%= link_to '신청하기', offlines_coding_new_path %>
</div>