<h1>Offlines#index</h1>

<div class="offline_intro">
    [저희는요 이런 특강을 해요...ㅎㅎ.해해해해히ㅣㅣ]
</div>
<div class="offline_top">
    <p>진로특강</p>
    <%= link_to '더 알아보기', offlines_career_path, class: "more_top" %>
</div>
<div class="offline_bottom">
    <p>코딩특강</p>
    <%= link_to '더 알아보기', offlines_coding_path, class: "more_bottom" %>
</div>