<h2>안녕하세요, 코인입니다 '-' !</h2>
<a class="btn btn-primary" href="/qnas/index" role="button">Q&A</a>
<a class="btn btn-primary" href="/offlines/index" role="button">오프라인</a>
<a class="btn btn-primary" href="/reviews" role="button">리뷰</a>
<a class="btn btn-primary" href="#" role="button">1:N 매칭</a>
