<%=render 'nav'%>
<div class="margin"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= image_tag("intro_1.jpg", :class=>"img-fluid") %>
    </div>
  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-md-12">
      <%= image_tag("intro_2.jpg", :class=>"img-fluid") %>
    </div>
  </div>
</div>