<%=render 'nav'%>
<div class="margin"></div>
<div class="container">
  <div class="justify-content-center">
      <%= image_tag("intro_1.jpg", :class=>"introbox1") %>
      <%= image_tag("intro_2.jpg", :class=>"introbox2") %>
  </div>
</div>