/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require syntax-highlighter-rails/shCore
 *= require syntax-highlighter-rails/shThemeDefault
 *= require_tree .
 *= require_self
 
 */
 
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 @import url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css');
 

*{
    font-family: 'Noto Sans KR';
    font-size: 12px;
}


.jua {font-family:'BM JUA','배달의민족 주아',sans-serif;}

.active{
  border-bottom: thick solid #e8464e;
}
.mynav{
  font-size:20px;
  background: transparent !important;
}
.mymodal{
  margin-top:100px;
  position:fixed;
  z-index:99999;
}

.title{
  
font-size:40px;
 width:250px;
 color:black;
 font-weight: bold;

}

.bold{
  
  font-weight:bold;
  font-size:20px;
  color:#4C4C4C;;
}


.list{
  width:100%;
}

.introbox1{
  width:100%;
  margin-bottom:10%;
}
.introbox2{
  width:100%;
}

.qna_title{
  font-size:15px;
  font-weight:bold;
  color:black;
}

.qna_title:hover{
  color:black;
  font-weight:bold;
  text-decoration: none;
}

.qna_category{
  color:#e8464e;
  font-weight:bold;
}


.subtitle{
  font-size:20px;
  text-align:right;
  color:#1d1a55;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  
  padding-top: 11px;
 
  background-color: white;
  border-bottom:solid #D5D5D5;
}


.margin{
    height: 80px;
}
.blank{
  height:100px;
}

abbr[title="required"] {
  display: none;
}


::-webkit-scrollbar {
display:none;
}

.foot{
  border-top: solid #D5D5D5;
  width:100%;
  text-align:center;
 
}

.button_hs{
  /* button 글씨 회색!, 크기 나중에 스타일 먹일때 여기다가*/
  font-size: 2em;
}
.button_hs:hover{
  text-decoration: none;
}
.button_hs:active{
  text-decoration: none;
}
.button_hs:visited{
  text-decoration: none;
}

.button_style_hs{
  background: white;
}
.text_black_hs{
  color: black;
}
.text_black_hs:hover{
  color: black;
  text-decoration: none;
}
.text_black_hs:clicked{
  color: black;
  text-decoration: none;
}
.qnas_hs{
  font-size: 1.5em;
  font-weight:bold;
}

/*pagenation */
 .pagination {
        font-size: 11px;
        float: right;
        margin: 0;
        padding: 3px 0 4px;
    }
        .pagination a,
        .pagination span {
            padding: 3px 3px 2px;
        }
        .pagination .disabled {
            background:none repeat scroll 0 0 transparent;
            border:medium none;
            color:#999999;
            cursor:default;
        }
        .pagination a {
            color:#8acbc1;
            cursor:pointer;
            text-decoration:none;
        }
        .pagination a:hover {
            background-color:#8acbc1;
            border-bottom:1px solid #8acbc1;
            border-color:#8acbc1;
            color:#FFFFFF;
            text-decoration:none;
        }
        .pagination .current {}
            .pagination .current {
                border-bottom:2px solid #8acbc1;
                border-color:#8acbc1;
                color:#8acbc1;
                font-weight:bold;
                padding-left:2px;
                padding-right:2px;
            }
            .pagination .current a:hover {
                background-color:#8acbc1;
                color:#FFFFFF;
            }

        .pagination .prev_page {

        }
        .pagination .next_page {

        }
        
.submit_hs{
    background-image: url("submit.png");
    width: 80px;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    background-size: 100%;
    border-radius: 10px;
}

.submit_small_hs{
    background-image: url("submit.png");
    width: 60px;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    background-size: 100%;
    border-radius: 10px;
}

.back_hs{
    background-image: url("back.png");
    width: 80px;
    height: 40px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.save_hs{
    background-image: url("save.png");
    width: 80px;
    height: 40px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    // display: inline-block;
}

.reply_hs{
    background-image: url("reply.png");
    width: 80px;
    height: 40px;
    background-size: 100%;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    // display: inline-block;
}

.index_hs{
    background-image: url("index.png");
    width: 120px;
    height: 40px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.choice_hs{
    background-image: url("choice.png");
    width: 60px;
    height: 30px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.back_gray_hs{
    background-image: url("back_gray.png");
    width: 60px;
    height: 30px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.reply_hs:visited{
  border: none;
}
.reply_hs:hover{
  border: none ;
}
.reply_hs:active{
  border: none;
}
.reply_hs:focus{
  border: none;
  outline: none;
}

.submit_hs:visited{
  border: none;
}
.submit_hs:hover{
  border: none ;
}
.submit_hs:active{
  border: none;
}
.submit_hs:focus{
  border: none;
  outline: none;
}

.save_hs:visited{
  border: none;
}
.save_hs:hover{
  border: none ;
}
.save_hs:active{
  border: none;
}
.save_hs:focus{
  border: none;
  outline: none;
}

.back_hs:visited{
  border: none;
}
.back_hs:hover{
  border: none ;
}
.back_hs:active{
  border: none;
}
.back_hs:focus{
  border: none;
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  border-top:1px solid #D5D5D5;
}
#footer {
    position:absolute;
    bottom:0;
          text-align: center;
          margin-top: 60px;
    
        }
.qna_intro_hs{
  margin-top: 50px;
  text-align: right;
  font-size: 1.5em;
  border-left: 5px;
  border-color: black;
  
}
.qna_intro_coin_hs{
  text-align: right;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 40px;
}

.review_intro_hs2{
  text-align: right;
  font-size: 1.5em;
  border-left: 5px;
  border-color: black;
  
}

.review_font{
  font-size: 1.3em;
  line-height: 1.8em;
  //width: 80%;
}
.review_reply_font{
  font-size: 1.2em;
}



.right_hs{
    margin-right: 0;
    display: inline-block;
    width: 50px;
}
