// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_img_box{
     height:340px;
    overflow:hidden;
}
.mainbox_top{
  cursor: pointer;
  width:100%;
 
}
.mainbox_title{
 float:left;
 

}