

.qna_title{
  font-size:15px;
  font-weight:bold;
  color:black;
}

.qna_title:hover{
  color:black;
  font-weight:bold;
  text-decoration: none;
}

.qna_category{
  color:#e8464e;
  font-weight:bold;
}



.radio_label{
    font-size: 1.5em;
}
.radio_hs{
    margin-top: 2px;
}
.radio_hs:hover{
    outline: none;
}
.radio_hs:visited{
    outline: none;
}
.radio_hs:focus{
    outline: none;
}

.center_hs{
    text-align: center;
}

.new_form{
    //display: inline-block;
    text-align: center;
    padding: 0;  
}
.new_form span{
    font-size: 1em;
}
.new_form textarea:focus{
    outline: none;
}

.new_form label{
    vertical-align: top;
    
}
.qna_form{
    margin-bottom: 50px;
}

.navigation{
    position: fixed;
    width: 270px;
    padding-right: 15px;
}

.question_hk{
    text-align: center;
    width: 100%;
    background-color: #8acbc1;
    border-radius: 0px 0px 20px 20px;
}


.width-60px{
    width: 60px;
}

.question_button{
  background-color: #e8464e;
  height: 60px;
  border-radius: 20px;
   a{
     font-size: 2.3em;
     display: inline-block;
     width: 100%;
     line-height: 60px;
   }
   a:hover{
       background-color: transparent;
       text-decoration: none;
   }
   a:active{
       background-color: transparent;
       text-decoration: none;
   }
   a:visited{
       background-color: transparent;
       text-decoration: none;
   }
}

.qna_new_hk:hover{
    text-decoration: none;
}


.text_white_hk{
    color: #FFFFFF;
}

.qna_info_hk{
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    padding-right: 30px;
}

.search_hs{
    //background-image: url('search.png');
    //background-size: 100%;
    height: 20px;
    font-size: 1em;
    border: none !important;
    background-color: white;
    color: #4C4C4C;
    display: block;
}

// .search_filter{
//     height: 20px;
//     display: block;
// }

                  
            
                    // <div class="row qna_title_box_hk">
                    //     <div class="col-2 qna_category_hk"><%= qna.category %></div>
                    //     <div class="col-10 qna_title_btn_hk"><%= link_to "/qnas/show/#{qna.id}", class:"qna_title" do %><%= qna.title %><%end%></div>
                    // </div>    
                    // <hr>
                    // <div class="row qna_content_box_hk">
                    //     <div class="qna_check_hk"><% if qna.choice != NIL %><%= image_tag("check-blue.png") %><%end%></div>
                    //     <p class="qna_nickname_hk text-info"><%= qna.qna_user %>의 질문</br></p>
                    //     <p class="content_hk">
                    //     <%= qna.content %></br>
                    //     <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                    //     <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/edit/#{qna.id}" do %>편집<%end%><%end%></br><%end%>
                    //     <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/destroy/#{qna.id}" do %>삭제<%end%><%end%></br><%end%>
                    //     <hr>
                    //     </p>
                    // </div>    
                    
.qna_category_hk{
    color: #FFFFFF;
    background-color: #8acbc1;
    font-size: 18px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.qna_title_btn_hk{
    color: #D5D5D5;
    font-size: 16px;
    p{
        font-size: 1.2em;
        line-height: 1.2em;  
    }
}

.qna_check_hk{
    position: relative;
    top: 5px;
    right: 5px;
}


.qna_nickname_hk{
    display: inline-block;
    margin-left: 0;
    width: 710px;
}

.reply_nickname_hs{
    display: inline;
    margin-left: 0;
    width: 800px;
}

.qna_reply_choice_hs{
    display: inline-block;
    margin-left: 0;
    width: 1000px;
}


.qna_content_box_hk{
    margin: 0 !important;
}
.qna_reply_hs{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
}
.qna_reply_small_hs{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 2em;
}
.reply_box_hk{
    border-bottom: 1px dotted #ABABAB;
}
.review_reply_top_hs *{
    vertical-align: top;
}


.flex_hyo9{
    display: flex;
    justify-content: space-between;
}

.choice_icon{
    font-size: 1.5em;
}

.bt_hk{
    background-color: transparent;
    height: auto;
    width: 100%;
}

.i_su_hk{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
}

.modal_h{
    height: 20vh;
}

.hyo0{
    text-align: center;
}

.hyo1{
    margin-right: 3em;
}

.for_a{
    margin-left:-1px;
}

.hyo2{
    font-size: 2em;
}

.hyo3{
    max-width: 100vw;
}

