// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
    font-family: 'Noto Sans KR';
}

.review_header_hk{
    margin-top: 20px;
}

.review_table_hk{
    color: #4C4C4C;
    font-size:14px;
    word-break:break-all;

}

.review_button_hk{
    color: #4C4C4C;
    font-size:15px;
}

li.active > .button_hk{
    background-color: #8acbc1;
}

.margin_hk{
    margin-bottom: 30px;
}
.review_write{
    width:100%;
}

.review_info_hk{
    font-family: 'Noto Sans KR';
    font-size: 17px;
    font-weight:bold;
    text-align:right;
}

.review_info_hk_m{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight:bold;
    text-align:right;
}
.review_intro_coin{
  text-align: right;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 40px;
}
.review_intro_coin_m{
  text-align: right;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 40px;
}

.radio_inline{
    display: inline-block;
    width: 590px;
    text-align: left;
    padding-left: 5px;
}
.form_margin_hs{
    margin: 20px 0 20px 0;
}

.right_y{
    text-align:right;
    float:right;
}
.review_intro_hs{
    text-align: center;
    margin: 50px 0 50px 0;
}
.review_intro_hs>p{
    font-size: 1.1em;
}

.review_title_y{
    font-size: 20px;
    color:#4C4C4C;
    font-weight:bold;
    line-height:100%;
}
.review_title_y_m{
    font-size: 1.1em;
    color:#4C4C4C;
    font-weight:bold;
     line-height:140%;
}

.button_y{
     border-radius: 5px;
     width: 100%;
}

.lock{
    background-image: url('lock.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 140px;
    background-size: 100%;
    border: none;
    margin-top: 50px;
}
.review_secret{
    font-size: 2em;
}

.title_review{
    line-height: 80px;
    width: 100%;
    height: 80px;
    font-size: 2.3em;
}
.title_review_m{
    line-height: 50px;
    width: 100%;
    height: 50px;
    font-size: 25px;
}

.pag{
    text-align:right;
}

.flex_hyo9{
    display: flex;
    justify-content: center;
}

.review_intro{
  height: 80px;
  background-image: url('review_back.png');
  background-size: cover;
  *{
    color: rgba(213,213,213,0.8);
    font-size: 1.1em;
  }
}

