// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
    font-family: 'Noto Sans KR';
}

.review_header_hk{
    margin-top: 20px;
}

.review_table_hk{
    color: #4C4C4C;
    font-size:14px;
}

.review_button_hk{
    color: #4C4C4C;
    font-size:15px;
}

li.active > .button_hk{
    background-color: #8acbc1;
}

.margin_hk{
    margin-bottom: 30px;
}
.review_write{
    width:100%;
}
.review_write:hover{
    opacity:0.7;
}

.review_info_hk{
    font-family: 'Noto Sans KR';
    font-size: 17px;
    font-weight:bold;
    text-align:right;
}

.radio_inline{
    display: inline-block;
    width: 590px;
    text-align: left;
    padding-left: 5px;
}
.form_margin_hs{
    margin: 20px 0 20px 0;
}

.right_y{
    text-align:right;
    float:right;
}
.review_intro_hs{
    text-align: center;
    margin: 50px 0 50px 0;
}
.review_intro_hs>p{
    font-size: 1.1em;
}

.review_title_y{
    font-size: 20px;
    color:#4C4C4C;
    font-weight:bold;
}

.lock{
    background-image: url('lock.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 140px;
    background-size: 100%;
    border: none;
    margin-top: 50px;
}
.review_secret{
    font-size: 2em;
}