

.sign_y{
  border-radius:10px;   
  padding-top:10px;
  margin-top:10%;
  margin-bottom:10%;
}

.sign_title{
  font-size:30px;
  text-align:center;
  font-family:'BM JUA','배달의민족 주아',sans-serif;
  color:white;
  margin-top:10px;
}

.simple_form input{
   
}
.simple_form div.input {
  
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label.email {
       display:none;
}
.simple_form label.password {
       display:none;
}
.simple_form label.string{
       display:none;
}
.simple_form label.tel{
       display:none;
}

#user_nickname,#user_name,#user_birthday,#user_part{
   width:100%;
    height: 50px;
    border-radius: 5px;
    margin:0;
    padding:5px;
     box-shadow:none;
     border-width:0px;
}
.simple_form input[type='email'], .simple_form input[type='password'],.simple_form input[type='tel']{
    width:100%;
    height: 50px;
    border-radius: 5px;
    margin:0;
    padding:5px;
     box-shadow:none;
     border-width:0px;
     
}


.simple_form input[type='submit'] {
 width:100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom:10px;
     box-shadow:none;
     border-width:0px;
     font-size:20px;
  font-family:'BM JUA','배달의민족 주아',sans-serif;
  color:white;
  background-color:#D5D5D5;
}

.boxshadow{
    box-shadow: none;
    text-align: center;
    color: white;
    
}

.hyo_box{
    box-sizing: border-box;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}



div.boolean{
  margin-left:20px;
  color:white;
 margin-top:0;
 margin-bottom:0;
  font-family: 'Noto Sans KR';
 
}

.for_sign_link{
  color: white; 
  font-size:20px; 
  float:right;
   font-family:'BM JUA','배달의민족 주아',sans-serif;
   margin:10px;
}

.for_sign_link:hover{
  background-color:transparent;
}