<h2>코인 그 후의 이야기를 들려주세요.</h2>


<p>수정</p>

<form action="/reviews/update/<%= @review.id %>" method="post"> 
    <p>제목 <input type="string" name="input_title"></p>

    
    <p>카테고리 
    <input type="checkbox" name="input_category" value="career">진로
    <input type="checkbox" name="input_category" value="coding">코딩
    </p>

  
    <p>학교 이름 <input type="text" name="input_team_name"></p>

    
    <p>내용</p>
    <textarea name="input_content" rows="10" cols="70"></textarea>
 
   
    <p>비밀글  <input type="checkbox" name="input_secret" value="true">  
    </br>
    (비밀글 선택 시 작성자만 내용과 답변을 확인할 수 있습니다.)</p>

    
    <input class="btn btn-default" type="submit">
    
</form>